section.main.css-uf99v8.e1g8pov65{
    background-image: url('https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2654.jpg?w=900&t=st=1688727986~exp=1688728586~hmac=b3ac94b60d2c35089e2fbf7c0d788792afef6e32ef3db90df0eb54d338d36923');
    background-size: cover;
  }
div.block-container.css-1y4p8pa.e1g8pov64{
    padding-top: 0rem;
}
footer.css-h5rgaw.e1g8pov61{
    visibility: hidden;
}
header.css-18ni7ap.e13qjvis2{
    background-color:rgba(0,0,0,0);
}

